test-defaults: &test-defaults
  working_directory: ~/code
  docker:
    - image: circleci/node:8-browsers
      environment:
        NPM_CONFIG_LOGLEVEL: error # make npm commands less noisy
        JOBS: max # https://gist.github.com/ralphtheninja/f7c45bdee00784b41fed
        MONITOR_CONCURRENCY: 1

monitor-defaults: &monitor-defaults
  working_directory: ~/code
  resource_class: small
  docker:
    - image: circleci/node:8-browsers
      environment:
        NPM_CONFIG_LOGLEVEL: error # make npm commands less noisy
        JOBS: max # https://gist.github.com/ralphtheninja/f7c45bdee00784b41fed
        MONITOR_CONCURRENCY: 1
        MONITOR_SHUFFLE: 1

restore_cache_keys: &restore_cache_keys
  keys:
    - code-{{ .Branch }}-{{ checksum ".nvmrc" }}-{{ checksum "package.json" }}
    - code-master-{{ checksum ".nvmrc" }}-{{ checksum "package.json" }}

save_cache: &save_cache
  key: code-{{ .Branch }}-{{ checksum ".nvmrc" }}-{{ checksum "package.json" }}
  paths:
    - node_modules

version: 2
jobs:
  test:
    <<: *test-defaults
    steps:
      - checkout
      - restore_cache: *restore_cache_keys
      - run: npm install
      - run: npm run eslint:ci
      - run: npm run test
      - run: ./node_modules/.bin/codecov
      - save_cache: *save_cache
      - store_artifacts:
          path: ~/code/.artifacts

  monitor:
    <<: *monitor-defaults
    steps:
      - checkout
      - restore_cache: *restore_cache_keys
      - run: npm install
      - run: ./bin/run.js 'monitors/**/*.js'
      - store_artifacts:
          path: ~/code/.artifacts

  docker:
    machine: true
    steps:
      - checkout
      - run: docker build . -t dsc-monitor
      - run: docker run -t dsc-monitor monitors/google-with-monitor-browser-selector.js

workflows:
  version: 2
  commit:
    jobs:
      - test
      - docker
      - monitor
  monitor:
    triggers:
      - schedule:
          cron: "* * * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - monitor
